@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
  ViewBag.OS = Environment.OSVersion.ToString();
}


<div class="text-center">

  <div class="m-1 p-1">

    <h3 class="display-4">OS: @ViewBag.OS</h3>
    <p>第一个 ASP.NET Core项目</p>
    <h4 class="bg-success text-xs-center p-1 text-white"> @Model.Message</h4>
    <table class="table table-sm table-striped">
      <thead>
        <tr><th>ID</th><th>名称</th><th>分类</th><th>价格</th></tr>
      </thead>
      <tbody>
        @foreach (var p in Model.Products)
        {
          <tr>
            <td>@p.ProductID</td>
            <td>@p.Name</td>
            <td>@p.Category</td>
            <td>￥@p.Price.ToString("F2")</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>